.deps
.libs
*.la
*.lo
*.o
*.pyc
Makefile
Makefile.in
libbitcoin-blockchain.pc

obj
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp

/tools/block_db/block_db
/tools/count_records/count_records
/tools/history_db/history_db
/tools/initchain/initchain
/tools/mmr_add_row/mmr_add_row
/tools/mmr_create/mmr_create
/tools/mmr_delete_last_row/mmr_delete_last_row
/tools/mmr_lookup/mmr_lookup
/tools/read_htdb_record_value/read_htdb_record_value
/tools/read_htdb_slab_value/read_htdb_slab_value
/tools/show_array/show_array
/tools/show_linked_records/show_linked_records
/tools/show_records/show_records
/tools/spend_db/spend_db
/tools/stealth_db/stealth_db
/tools/transaction_db/transaction_db

/bin
/obj
